/*
  ちょっと雑なので、クラスなど追加していい感じに調整してください
*/

* {
  box-sizing: border-box;
}
#app {
  max-width: 640px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead th {
  border-bottom: 2px solid #0099e4; /*#d31c4a */
  color: #0099e4;
}
th,
th {
  padding: 0 8px;
  line-height: 40px;
}
thead th.id {
  width: 50px;
}
thead th.state {
  width: 100px;
}
thead th.button {
  width: 60px;
}
tbody td.button, tbody td.state {
  text-align: center;
}
tbody tr td,
tbody tr th {
  border-bottom: 1px solid #ccc;
  transition: all 0.4s;
}
tbody tr.done td,
tbody tr.done th {
  background: #f8f8f8;
  color: #bbb;
}
tbody tr:hover td,
tbody tr:hover th {
  background: #f4fbff;
}
button {
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 0 8px;
  background: #0099e4;
  color: #fff;
  cursor: pointer;
}

blockquote {
  top: 10px;
  position: relative;
  padding: 10px 10px 10px 32px;
  box-sizing: border-box;
  font-style: italic;
  color: #464646;
  background: #e0e0e0;
  text-align: center;
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: -6px;
  left: -15px;
  content: "“";
  font-family: sans-serif;
  color: #e0e0e0;
  font-size: 70px;
  line-height: 1;
  z-index: 2;
}

blockquote:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-width: 0 0 40px 40px;
  border-style: solid;
  border-color: transparent #ffffff;
}

blockquote p {
  position: relative;
  padding: 0;
  margin: 10px 0;
  z-index: 3;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}

#app_2{
  max-width: 640px;
  margin: 0 auto;
}

#app_3{
  max-width: 640px;
  margin: 0 auto;
  
}


.VueCarousel-slide {
  
  font-size:12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100px;
  background:#ccc;
  border-right:1px solid #FFF;
  box-sizing:border-box;
}

#app_4{
  max-width: 640px;
  margin: 0 auto;
  
}

#app_4 .item {
  padding: 4px 8px;
  transition: background-color 0.4s;
  }
#app_4 .is-active {
  background: #ffeaea;
  }